<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Fazbook - ' + user.firstName + "'s Profile" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.firstName + ' ' + user.lastName %></h1>
    <h3>Email: <%= user.email %></h3>
    <h3>Date of birth: <%= user.dob %></h3>
    <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
      <input type="submit" value="X" />
    </form>
    <a href="/users">Back to users</a>
  </body>
</html>
